{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <title>Document</title>
</head>

<body>
    <h1>resumen fundation</h1>

    <div class="grid-x" style="border: 1px solid green;">
        <!-- con esto crea liensos de 12 lines en la pantalla-->

        <h2 class="cell">resumen</h2>
        <h3 class="cell">resumen</h3>
        <h2 class="cell">resumen</h2>
        <h3 class="cell">resumen</h3>

    </div>

</body>

</html>