{% extends 'base.html' %} {% block title %} lista empleados por departamento {% endblock title %} {% block content %} {% include 'includes/header.html' %}


<div class="grid-container">
    <div class="grid-x">
        <div class="cell"> Empleados por area: </div>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>NOMBRES</th>
                        <th width="150">APELLIDOS</th>
                        <th width="150">DEPARTAMENTO</th>
                        <th width="150">ACCION</th>

                    </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.departamento}}</td>
                        <td>
                            <a class="button success" href=" {% url 'persona_app:modificar_empleado' e.id %} ">Editar</a>
                            <!--con el e.id se pasa el parametro pk para que sepa a quien va a editar los datos-->
                        </td>
                        <td>
                            <a class="button alert button" href=" {% url 'persona_app:ELIMINAR-EMPLEADO' e.id %} ">Eliminar</a>
                        </td>
                        <!--con el e.id se le especifica de quien se quiere ver la informacion-->
                    </tr>
                    {% endfor %}

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock content %}